# git user files
.gitconfig

# hduser files
.bash_history
.bash_logout
.bash_profile
.lesshst
.viminfo
.vimrc
.*.swp

# hduser folders
.m2/
.ssh/
.vim/

# Hadoop folders
data/
hadoop/
input/
output/

# Maven folders
src/test/lib/
target/
